*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  width: 170rem;
  height: 100vh;
  background-image: url(./images/mountains-universe-1\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

a{
  font-size: 2.2rem;
  line-height: 1rem;
  color: #C4C4CC;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

a:hover{
  color: #ffffff;
  font-weight: bold;
}

nav{
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

header{
  padding: 4rem 7.2rem 4rem 2rem;
  width: 55rem;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #E1E1E6;
  line-height: 125%;
  font-size: 4.8rem;
}

button{
  color: #ffffff;
  border: none;
  padding: 1.2rem 3.2rem;
  background: none;
  border: 1px solid #ffffff;
  border-radius: .8rem;
  margin-top: 2.4rem;
  line-height: 2.4rem;
  font-size: 1.4rem;
  width: 19.5rem;
  height: 4.8rem;
  margin-left: 10rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

button:hover{
  background-color: #ffffff;
  color: #02799D;
}

.explore{ 
  display: grid;
  place-content: center;
  width: 100%;
  margin-top: 28rem;
}


